
<!DOCTYPE html>
<html data-ng-app="rideshareApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvgiNNUfAJl3Kl_NlrfPS1nXyiMn23baE" async defer></script>
    <script src="./bundle.js" type="text/javascript"></script>

    <title>RideShare App</title>

  </head>
  <body>
    <header>
      RideShare Rulez!
      <custom-nav></custom-nav>
    </header>
    <section ng-controller="UserController as userctrl" >
     <div ng-init="userctrl.getUser()" ng-repeat="user in userctrl.users">
       <ul>
     <li>Username: {{user.username}}</li>
     <li>Password: {{user.password}}</li>
     <li>email: {{user.email}}</li>
    </ul>
    </div>


    </div>
    <form class="sign-up" ng-submit="userctrl.createUser(newUser)" >

      <input ng-model="newUser.username" type="text" placeholder="username">
      <input ng-model="newUser.email" type="text" placeholder="email">
      <input ng-model="newUser.password" type="password" placeholder="password">
      <button type="submit">Sign Up</button>

    </form>


    </section>



  </body>
</html>
