<!-- sign in form  -->
<a name="signup"></a>
<section class="sign"ng-controller="UserController as userctrl" >
<div class="login">

      <form method="post" class="signup-form" ng-submit="userctrl.createUser(newUser)" >
        <h3 id="logo" class="login-header">Sign Up</h3>
        <input id="username" required ng-model="newUser.username" type="text" placeholder="create username....">
        <input id="email" required ng-model="newUser.email" type="email" placeholder="enter email...">
        <input id="password"required ng-model="newUser.password" type="password" placeholder="password">
        <input type="submit"name="submit" value="Sign Up">
          <h5>Already registered? <a href="#signin">Login Here!</a></h5>

    </form>

  </div>

</section>
