<section ng-controller="ProfileController as profilectrl">
<div><button id="newprofile-button" ng-hide="newprofile" ng-click="newprofile = newprofile == true ? false : true;">Click to add your profile Info</button></div>
<div class="login">
<div><div ng-show="newprofile" class="hideByDefault">
  <div class="login-triangle"></div>
<h2 class="login-header">Create A Profile</h2>
  <form class="profile-form"  ng-submit="profilectrl.createProfile(newProfile)" >
    <input ng-model="newProfile.carbrand" type="text" placeholder="car type (capitalize first letter) ex. Toyota" required="false">
    <input ng-model="newProfile.carseat" type="text" placeholder="seats available" required="false">
    <input ng-model="newProfile.email" type="email" placeholder="email" required="true">
    <input ng-model="newProfile.firstname" type="text" placeholder="First Name" required="true">
    <input ng-model="newProfile.lastname" type="text" placeholder="last Name" required="true">
    <input ng-model="newProfile.petsallowed" type="text" placeholder="pets allowed? true/false" required="false">
    <input ng-model="newProfile.phonenumber" type="text" placeholder="phone number (include country code) ex. 12223334444" required="false">
    <input type="submit" value="Add Profile">
  </div></div>
</form>

</div>
</section>
