@import normalize
// $yellow: #d1ab2a !default
// $blue: #28abe3 !default

$primary-color: #d1ab2a
$secondary-color: #28abe3
$teitary-color: #f7eac8
$gutter: 5em



body
  background-color: $teitary-color

h1
  color: $primary-color

header
  text-align: center
  margin-bottom: $gutter


.navbar
  text-align: center
  margin-top: $gutter

a
  color: $secondary-color
  margin-left: $gutter

.contact-bar
  text-align: center
  margin-top: $gutter

.repoList-wrapper
  text-align: center
  margin-top: $gutter
