@import normalize
@import base

$turquoise: rgb(89,196,197) !default
$blue: rgb(0,200,248)  !default
$dark-yellow: rgb(255,195,60)  !default
$cream: rgb(251,226,180)  !default
$pink: rgb(255,76,101)  !default
$light-orange: rgb(243,134,48)  !default
$opa-yellow: rgba(255,195,60,0.4)  !default
$opa-cream: rgba(251,226,180,0.5)  !default

$primary-color: $pink
$secondary-color: $dark-yellow
$teitary-color: $light-orange
$gutter: 5em

*
  text-decoration: none
  border-color: red

body
  background-color: $teitary-color
  padding: $gutter

main
  background-color: $opa-cream
  padding: 2em
  // width: 100%
  // height: 100%
  // margin-left: $gutter
  // margin-right: $gutter


header
  text-align: center
  margin-bottom: $gutter
  background-color: $blue
  height: 10em
  width: auto

.main-title
  color: white
  text-align: center
      // margin-top: $gutter
  // margin-left: $gutter
  // margin-right: $gutter


// form
//   text-align: center



.navbar
  text-align: center
  margin-top: $gutter

a
  color: $light-orange
  margin-left: $gutter

.sign
  text-align: center
  margin-top: $gutter

.signin-form

// .update-profile
//   margin-top: $gutter
//   display: flex
//   flex-direction: column

.who-profile
  // text-align: center
  margin-top: $gutter
  // background-color: $cream
  li
    text-decoration: none
