<section class="home-page">

<div class="">
  <h1 class="main-title">Welcome to Ride Share!</h1>
  <user-signin></user-signin>
</div>
<!-- <user-signin></user-signin> -->

<!-- <img class="banner" src='https://linziboyd.files.wordpress.com/2013/08/open-road.jpg/'>
<ul class="sub-banners">
  <li><img ng-img
     data-bg-src="https://linziboyd.files.wordpress.com/2013/08/open-road.jpg" /></li>
  <li><img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=000000&txt=300%C3%97400&w=300&h=400" /></li>
  <li><img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=000000&txt=300%C3%97400&w=300&h=400" /></li>
</ul> -->



</section>
