<section>

<main-header></main-header>
<div class="boxes">
  <div class="box1">
    <h1>Who we are</h1>
  </div>
    <p>Bacon ipsum dolor amet beef cupim meatball, picanha spare ribs corned beef cow. Frankfurter drumstick andouille shankle, jerky short ribs kielbasa tail. Bresaola landjaeger pig doner shankle drumstick. Pork loin shankle leberkas, rump pork belly spare ribs pork chop beef bacon pig. Andouille biltong turkey, short ribs flank bresaola salami tenderloin ham hock tail tri-tip bacon tongue. Pork kielbasa bacon porchetta pastrami tail meatloaf ground round hamburger venison. Pork loin shoulder short loin alcatra pancetta fatback spare ribs biltong strip steak flank pork kielbasa ribeye sausage.</p>

    <!-- <div class="box2"><h1>What we do</h1></div> -->
</div>
</section>
