<section>

<main-header></main-header>
<div ng-hide>
  <ul>
    <li>
      <a href="#intro">Home</a>
    </li>
    <li>
      <a href="#how-works">Portfolio</a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
</div>
<div class="intro-container">
  <a name="intro"></a>
<p>
  Ride Share is...
</p>
  <div class="icon1"><a href="#how-works"><i class="ion-android-arrow-dropdown-circle"></i></a>
</div>
<div class="how-works">
<p>
  how it works
</p>
  <div class="icon1"><a href="#testimonials"><i class="ion-android-arrow-dropdown-circle"></i></a>
</div>
<div class="testimonials">
<p>
  user testimonials
</p>
  <div class="icon1"><a href="#portfolio"><i class="ion-android-arrow-dropdown-circle"></i></a>
</div>

</section>
