<section class="home-page">
  <header>

    <!-- <h1 class="title">logo</h1>
    <div class="header-image">  <h1 class="main-title">Welcome to RideShare </h1></div> -->
    <!-- <custom-nav></custom-nav> -->
  </header>

  <div class="top-bar">

  <h1 class="title">Ride Share</h1></div
  <div class="header-image">HOME</div>
  <custom-nav></custom-nav>
<div class="">
  <!-- <h1 class="main-title">Welcome to Ride Share!</h1> -->
  <user-signin></user-signin>
</div>
<div class="boxes">
  <div class="box1"><h1>Who we are</h1></div>
    <div class="box2"><h1>What we do</h1></div>

</div>

</section>
