<section id="about-me-container">
  <logo-bar></logo-bar>
  <custom-nav></custom-nav>
  <div class="aboutme-boxes" class="right-side">
      <img class="about-img" src="./img/jared-bw.png" alt="Jared Scarr Image" />
      <h3>Jared Scarr</h3>
      <p>
        I'm exited for this web application to impact people's carbon footprint as well as get students to CodeFellow in a more efficient manner. I hope you enjoy RideShare as much as I enjoyed creating it.
      </p>
  </div>
  <div class="aboutme-boxes">
      <img class="about-img" src="./img/lisa-bw.png" alt="Lisa Wenke Image" />
      <h3>Lisa Wenke</h3>
      <p>
        Donut cake cheesecake cookie brownie cookie gummi bears lemon drops. Toffee macaroon chocolate cake donut. Sweet roll dessert candy pie cheesecake icing. Lemon drops brownie gummi bears liquorice donut.
      </p>
  </div>
  <div class="aboutme-boxes" class="right-side">
      <img class="about-img" src="./img/rick-bw.png" alt="Rick Tesmond Image" />
      <h3>Rick Tesmond</h3>
      <p>
        Donut cake cheesecake cookie brownie cookie gummi bears lemon drops. Toffee macaroon chocolate cake donut. Sweet roll dessert candy pie cheesecake icing. Lemon drops brownie gummi bears liquorice donut.
      </p>
  </div>
  <div class="aboutme-boxes">
      <img class="about-img" src="./img/sawako-bw.png" alt="Sawako Ishida Image" />
      <h3>Sawako Ishida</h3>
      <p>
        I am very happy that our website is
      </p>
  </div>
  <div class="aboutme-boxes" class="right-side">
      <img class="about-img" src="./img/wenjing.png" alt="Wenjing Qiang Image" />
      <h3>Wenjing Qiang</h3>
      <p>
        On the road.
      </p>
  </div>
</section>
