
<section class="sign"ng-controller="UserController as userctrl" >
  <!-- <div class="login"> -->
  <!-- <h2 class="login-header">Log in</h2> -->
  <div><button id="login-button" ng-hide="userlogin" ng-click="userlogin = userlogin == true ? false : true;">Login</button></div>
      <div class="login">
    <div><div ng-show="userlogin" class="hideByDefault">
        <div class="login-triangle"></div>
      <h2 class="login-header">Log in</h2>
      <form class="signin-form" ng-submit="userctrl.getUser()"></p>
        <p><input type="email" placeholder="email" ng-model="userctrl.users.email"></p>
        <p><input type="text" placeholder="username" ng-model="userctrl.users.username"></p>
        <p><input type="password" placeholder="password" ng-model="userctrl.users.password"></p>
        <p><input type="submit" value="Log in"></p>
      </div></div>
    </form>
  </div>

  <!-- <div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">Log in</h2>

  <form class="login-container">
    <p><input type="email" placeholder="Email"></p>
    <p><input type="password" placeholder="Password"></p>
    <p><input type="submit" value="Log in"></p>
  </form>
</div> -->

  <div class="signup-wrapper">
    <div><button id="signup-button" ng-hide="newuser" ng-click="newuser = newuser == true ? false : true;">Sign Up</button></div>
    <div><div ng-show="newuser" class="hideByDefault">
      <form class="signup-form" ng-submit="userctrl.createUser(newUser)" >
        <input ng-model="newUser.username" type="text" placeholder="username">
        <input ng-model="newUser.email" type="email" placeholder="email">
        <input ng-model="newUser.password" type="password" placeholder="password">
        <button type="submit">Sign Up</button>
      </div></div>
    </form>

  </div>

</section>
