<nav class="navbar">
     <ul>
       <li><a href="#/home">Home</a></li>
       <li><a href="#/profile">Profile</a></li>
       <li><a href="#/dashboard">Dashboard</a></li>
     </ul>
</nav>
<!-- <section="tabs">
<nav class="navbar">
  <a href ng-class="{ active:tabCtrl.isSet(1) }" ng-click="tabCtrl.setTab(1)">Home</a>
  <a href ng-class="{ active:tabCtrl.isSet(2) }" ng-click="tabCtrl.setTab(2)">Profile</a>
  <a href ng-class="{ active:tabCtrl.isSet(3) }" ng-click="tabCtrl.setTab(3)">DashBoard</a>
  <a href ng-class="{ active:tabCtrl.isSet(4) }" ng-click="tabCtrl.setTab(4)">New Profile</a>
  <a href ng-class="{ active:tabCtrl.isSet(5) }" ng-click="tabCtrl.setTab(5)">About Us</a>
  <span>{{tabCtrl.active}}</span>
</nav>
<home></home>
<user-profile></user-profile>
<dashboard-page></dashboard-page>
<new-profile ng-show="tabCtrl.isSet(4)"></new-profile>
<about-us ng-show="tabCtrl.isSet(5)"></about-us>
</section> -->
