<section="tabs">
<nav class="navbar">
  <a href ng-class="{ active:tabCtrl.isSet(1) }" ng-click="tabCtrl.setTab(1)">Home</a>
  <a href ng-class="{ active:tabCtrl.isSet(2) }" ng-click="tabCtrl.setTab(2)">Profile</a>
  <a href ng-class="{ active:tabCtrl.isSet(3) }" ng-click="tabCtrl.setTab(3)">DashBoard</a>
  <a href ng-class="{ active:tabCtrl.isSet(4) }" ng-click="tabCtrl.setTab(4)">Contact</a>
  <a href ng-class="{ active:tabCtrl.isSet(5) }" ng-click="tabCtrl.setTab(5)">About Us</a>
  <span>{{tabCtrl.active}}</span>
</nav>
<user-signin ng-show="tabCtrl.isSet(1)"></user-signin>
<user-profile ng-show="tabCtrl.isSet(2)"></user-profile>
<!-- <map-rider ng-show="tabCtrl.isSet(3)"></map-rider> -->
<custom-contact ng-show="tabCtrl.isSet(4)"></custom-contact>
<custom-resources ng-show="tabCtrl.isSet(5)"></custom-resources>
</section>
