<section>
  <logo-bar></logo-bar>
<div class="main-image2">
  <h1 class="main-title2">My Profile</h1>
</div>
<custom-nav></custom-nav>
<section ng-controller="ProfileController as profilectrl" ng-init="profilectrl.getProfile()" class="who-profile">
    <div class="profile-wrapper">
  <h2>My Profile</h2>
    <div>
    <p>First Name: {{profilectrl.firstname}}</p><br>
    <p>Last Name: {{profilectrl.profiles.lastname}}</p><br>
    <p>Email: {{profilectrl.profiles.email}}</p><br>
    <p>Phone: {{profilectrl.profiles.phonenumber}}</p><br>
    <p>Car Make: {{profilectrl.profiles.carbrand}}</p><br>
    <p>Car Seats: {{profilectrl.profiles.carseat}}</p><br>
    <p>Pets: {{profilectrl.profiles.petsallowed}}</p><br>
    <button type="button" value="Edit Profile">Edit Profile</button>
  </div>



<!-- <form class="update-profile" ng-submit="userctrl.updateProfile(profile)">
  Update Info
  First Name:<input ng-model="profile.first_name" type="text">
  Last Name:<input ng-model="profile.last_name" type="text">
  Email:<input ng-model="profile.email" type="text">
  Car Make:<input ng-model="profile.car_brand" type="text">
  Car Seats:<input ng-model="profile.car_seat" type="text">
    <div ng-controller = "FileController as filectrl">
  Photo: <input type="file" file-model="myFile"/>
  <button ng-click="uploadFile()">upload me</button>
</div>
    <button type="submit">Save</button>

  </form>
 </div> -->


</section>


</section>
